doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
		if loading
			#loading
				.vertical-centered-box
					.content
						.loader-circle
						.loader-line-mask
							.loader-line
				picture
					source( srcset="/img/head_logo.webp" type="image/jpeg" )
					img.logo( src="/img/head_logo.webp" alt="DCR Motors" )
				
			style#loading_style.
				@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(-360deg);-moz-transform: rotate(-360deg);-ms-transform: rotate(-360deg);transform: rotate(-360deg);}}
				#loading * {
					-webkit-transition: all 1s;
					-moz-transition: all 1s;
					-o-transition: all 1s;
					transition: all 1s;
					dir: ltr !important;
				}
				#loading {
					position: fixed;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 9999;
					background: #136592;
					transition: opacity .3s ease-in-out;
				}
				#loading.fade_out {
					opacity: 0;
				}
				#loading .logo {
					position: fixed;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					margin: auto;
					height: auto;
					width: 2.75rem;
				}
				.loader-circle {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 120px;
					height: 120px;
					border-radius: 50%;
					box-shadow: inset 0 0 0 1px transparent;
					margin-left: -60px;
					margin-top: -60px;
				}
				.loader-line-mask {
					position: absolute;
					left: 50%;
					top: 50%;
					width: 60px;
					height: 120px;
					margin-left: -60px;
					margin-top: -60px;
					overflow: hidden;
					-webkit-transform-origin: 60px 60px;
					-moz-transform-origin: 60px 60px;
					-ms-transform-origin: 60px 60px;
					-o-transform-origin: 60px 60px;
					transform-origin: 60px 60px;
					-webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
					-webkit-animation: rotate reverse 1.2s infinite linear;
					-moz-animation: rotate reverse 1.2s infinite linear;
					-o-animation: rotate reverse 1.2s infinite linear;
					animation: rotate reverse 1.2s infinite linear;
				}
				.loader-line-mask .loader-line {
					width: 120px;
					height: 120px;
					border-radius: 50%;
					box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5);
				}
		#client.hero.is-fullheight
		script( defer src=`/js/client.js` )